@use "../abstracts/" as *;

.btn {
  display: block;
  border: 0;
  border-radius: 10px;
  line-height: 1;
  cursor: pointer;
  padding: 1.125em 2.25em;
  text-decoration: none;
  color: clr(neutral, 100);
  font: {
    weight: $fw-700;
    size: fs(400);
  }
  transition: 250ms;

  &--primary {
    background-color: clr(primary, 700);

    &:is(:hover, :focus) {
      background-color: clr(primary, 900);
    }
  }

  &--accent {
    background-color: clr(accent, 400);

    &:is(:hover, :focus) {
      background-color: clr(accent, 500);
    }
  }

  &--scroll-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    border: 0;
    background: 0;
    padding: 0;
    font-size: fs(800);
    color: clr(accent, 400); 
    transition: visibility 250ms, opacity 250ms, color 250ms;

    &:hover {
      color: clr(accent, 500); 
    }

    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }
}
