@use "../abstracts/" as *;

input, textarea, select, button {
  font: inherit;
  color: inherit;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: clr(primary, 300);
  opacity: 1; /* Firefox */
  font-weight: $fw-600;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: clr(primary, 300);
  font-weight: $fw-600;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: clr(primary, 300);
  font-weight: $fw-600;
}

label, input {
  display: block;
  width: 100%;
}

label {
  color: clr(primary, 700);
  font-weight: $fw-700;
}

input {
  border: 3px solid clr(primary, 200);
  border-radius: 10px;
  padding: .75rem .5rem;
  color: clr(primary, 700);
  font-weight: $fw-600;
  transition: border-color 250ms;

  &:focus {
    border-color: clr(accent, 400);
    outline: 0;
  }
}

.submit {
  margin-inline: auto;

  @include mqMin(medium) {
    margin-right: 0;
  }
}