$colors: (
  neutral: (
    100: #ffffff,
  ),
  primary: (
    100: #efeae5,
    200: #e8e1d9,
    300: #c2b29e,
    400: #92664d,
    700: #47352c,
    900: #1f1714,
  ),
  accent: (
    300: #e7a298,
    400: #d35643,
    500: #913022,
  ),
);