$ff-serif: 'Alegreya SC', serif;
$ff-sans: 'Source Sans Pro', sans-serif;

$ff-base: $ff-sans;
$ff-accent: $ff-serif;

$fw-400: 400;
$fw-600: 600;
$fw-700: 700;

$font-sizes: (
  900: 3.75rem,
  800: 3rem,
  600: 1.75rem,
  500: 1.3125rem,
  400: 1.125rem,
  300: 1rem,
);

